Repository suryaavala/powr: changes, and which pre-commit hooks are due for each by the changed paths.
All: dvc-data-sync, test-lint-all

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "dvc_remote/"
      - id: debug-statements
      - id: name-tests-test
        args: ["--django"]
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: check-yaml
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: detect-aws-credentials
      - id: detect-private-key

  - repo: local
    hooks:
      - id: dvc-data-sync
        name: dvc-data-sync
        language: system
        pass_filenames: false
        entry: make dvc-data-sync
        files: "data/.*"
      - id: test-lint-all
        name: test-lint-all
        language: system
        pass_filenames: false
        entry: poetry run make test-lint-all
        files: ".*\\.py$|.*\\.pyi$"
      - id: clean
        name: clean
        language: system
        pass_filenames: false
        entry: poetry run make clean

chore: analysis for data cleaning
  notebooks/01_Data_Cleaning.ipynb
  pyproject.toml
Due: none

chore: setup logging & removed hello world code
  logging_config.ini
  powr/__init__.py
  powr/main.py
  tests/test_powr.py
Due: test-lint-all

feat: data loading
  Makefile
  config/config.py
  powr/data.py
  powr/utils.py
  tests/code/__init__.py
  tests/code/test_data.py
  tests/code/test_utils.py
Due: test-lint-all

chore: added an entrypoint for extract load clean data
  Makefile
  config/config.py
  main.py
  poetry.lock
  powr/main.py
  pyproject.toml
  tests/code/test_data.py
Due: test-lint-all

chore: rejigging dvc for better pipelining
  .dvc/config
  .gitignore
  data.dvc
  data/.gitignore
  data/raw.dvc
Due: dvc-data-sync

feat: pipelining with dvc
  Makefile
  data/clean/.gitignore
  dvc.lock
  dvc.yaml
  dvc_remote/redundant/4c/dbe90e9b59751014fb4addd57695b4
  main.py
Due: dvc-data-sync, test-lint-all

fix: dropping unneccessary columns
  .pre-commit-config.yaml
  Makefile
  dvc.lock
  notebooks/01_Data_Cleaning.ipynb
  powr/data.py
Due: test-lint-all

chore: data preprocessing and featurization
  notebooks/02_Data_Preprocess.ipynb
  pyproject.toml
Due: none

feat: very basic modelling & analysis
  notebooks/03_Modelling.ipynb
Due: none

feat: train, evaluate model
  Makefile
  config/config.py
  dvc.lock
  dvc.yaml
  dvc_remote/redundant/24/47f1a21f108c3788d7b9909afa5812
  dvc_remote/redundant/26/1e14579d1d67c82a24e9f5a9851aaa
  dvc_remote/redundant/2f/f44e40ede2859b6dd3f85fc5ff4879
  dvc_remote/redundant/4b/d43cc69abab2340af3d66fec337d83
  dvc_remote/redundant/4f/128d9a6225c84e7fc91db8aedf7583
  dvc_remote/redundant/59/98d55cd34dd0b76459bb8c150e83fd
  dvc_remote/redundant/5e/c6d217ccc37c260cc84a4f9fd16ab5
  dvc_remote/redundant/6d/b1380bdc96e0216ec42d9a2179dc0b.dir
  dvc_remote/redundant/74/ebd70eabcc279a207259d0392f50cd.dir
  dvc_remote/redundant/c9/295673bac9c92ffae556bc8fa671a9
  dvc_remote/redundant/d8/3fb94a3a99cd6526b165e4d34ccd80
  dvc_remote/redundant/d8/ebf6b6465d76deed0891859cff448f.dir
  dvc_remote/redundant/f5/f612227cc39be710692e8d5dae1a3c
  main.py
  powr/evaluate.py
  powr/train.py
  powr/utils.py
Due: test-lint-all

feat: datatime clean in data cleaning step itself
  dvc.lock
  dvc.yaml
  dvc_remote/redundant/5f/261ca6d3aa2542074e5cd2a61c8789
  dvc_remote/redundant/67/3e9c2525748d3b2d71a8f30721475f
  main.py
  notebooks/02_Data_Cleaning_Time.ipynb
  notebooks/archive/02_Data_Preprocess.ipynb
  powr/data.py
  tests/code/test_data.py
Due: test-lint-all

feat: finalised feature engineering
  notebooks/03_Data_Preprocessing.ipynb
Due: none

feat: train, evaluate model
  dvc.lock
  dvc.yaml
  dvc_remote/redundant/10/100db08857ec9eff86000757597883
  dvc_remote/redundant/12/8c95f0413f3033fcfa1ab1be0abe0a
  dvc_remote/redundant/15/a4aa04c000b386af0f096d7e43f899
  dvc_remote/redundant/67/61866b099d2444c27584a282cddaba
  dvc_remote/redundant/6b/ab66f08364e39cccb22508f8e74544
  dvc_remote/redundant/6d/e590b301b9dd6f578a6ce2df060473
  dvc_remote/redundant/70/62faea15a7f00125fd1c8d97685f43
  dvc_remote/redundant/71/775a649e35fdf675b9bda280dffaa3
  dvc_remote/redundant/74/fd4235a1a4bdbd638237dd7b47f589
  dvc_remote/redundant/9c/5cc628d24051c96d4b3e2e88599356.dir
  dvc_remote/redundant/b1/a7bc69f2583c36cd0ffc1c623ae477.dir
  dvc_remote/redundant/b7/ff96e7d68c0de1fbb35f7466c7c389
  dvc_remote/redundant/eb/a53552ef6d82d5cd70ec2ae14a4728.dir
  dvc_remote/redundant/ec/21b5d3cb3f006918349d74f98b590f.dir
  dvc_remote/redundant/f1/e66aa23660de9d0ab14fb291f185eb
  dvc_remote/redundant/ff/687cbe42111fa2c023a21b69f1fe1d
  main.py
  powr/train.py
  powr/window.py
Due: test-lint-all

feat: predictions done
  Makefile
  config/config.py
  data/predictions/.gitignore
  dvc.lock
  dvc.yaml
  dvc_remote/redundant/08/1fa4c9dc1edbfec160be5d81f63b5a
  dvc_remote/redundant/38/f07be37fd79aa264dead0b222091ab
  dvc_remote/redundant/49/a0f42ffca2665f59f587f0e89f2d8a.dir
  dvc_remote/redundant/4e/2ae2f1c5050ef21a281cbc5ff2aa3b
  dvc_remote/redundant/65/f28781719c1b15742c45d5c5472841.dir
  dvc_remote/redundant/b1/55570bc4b1ebe7a552da0ee6f8ecfd
  dvc_remote/redundant/c1/a06c8368a3951cbedf39bd76ce89b5
  dvc_remote/redundant/cf/457e8e4f69be9d0a3248f131960251
  dvc_remote/redundant/d2/b761fadabb9ead46241993ca899792
  dvc_remote/redundant/da/74d242e856b6de872feed8c7283471
  main.py
  powr/predict.py
Due: dvc-data-sync, test-lint-all

docs
  Exercise.md
  README.md
Due: none

chore: final pipeline run
  Makefile
  README.md
  dvc.lock
  dvc_remote/redundant/06/358d47598127d08619f3eb6b46b77b
  dvc_remote/redundant/5c/38cca1090fea4b4b8c9edbe22770d1
  dvc_remote/redundant/89/4239683c10c2bfe7918331958e2725
  dvc_remote/redundant/94/023dbda49838ce66c081e4ef0183f3
  dvc_remote/redundant/9c/672e9ad0790edeeda0ddce828e2f37.dir
  dvc_remote/redundant/9f/6c3f286d2422a434499d945c3d55c0
Due: none
